
.header {
    color: rgb(17, 16, 16);
    border: 10px;
    border-color: black;
    background-image: linear-gradient(to right, pink,rgb(126, 104, 228));
    display: flex;
    justify-content:space-evenly;
    margin: auto;
    width: 100%;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.navLink {
    display: flex;
}


.navLink a {
 
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    border-color:black;
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 20px;
    height: 30px;
    min-width: 75px;
    padding: 2px;
    text-decoration: none;
  
}
#menuBTN{
    width: 50px;
  height: 76px;
 
}
#countryBTN{
    display: grid;
}

.header h1 {
background-image: linear-gradient(to right, pink,yellow);
  width: 155px;
  height: 100px;
  border-radius: 50%; 
}

.navLink :hover{
    color: rgb(211, 27, 88);
    box-shadow: 0 5px 15px;
}
.navLink a:hover{
  box-shadow: 1000px;
}
